body {
    margin: 0;
    background-color: #242424;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

canvas {
    display: flex;
    justify-content: center;
    background-color: #dadada;
    margin: 1em;
}

canvas.border-red {
    border: 2px solid red;
}