<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <% styles_src.forEach((src)=> { %>
        <link rel="stylesheet" href="<%= src %>">
        <% }) %>
</head>

<body>
    <main>
        <div class="container">
            <div class="wrapper">
                <div class="picker">
                    <ul class="picker-colors"></ul>
                    <div class="color">Цвет: <span class="current-color"></span></div>
                    <button class="btn save">Сохранить</button>
                </div>
                <div class="canvas-container">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <section class="controls">
            </section>
            <section class="images"></section>
            <!-- <section class="navigation-info">
                <p>
                    информация
                </p>
            </section> -->
        </div>
    </main>
    <script src="<%= script_src %>"></script>
</body>

</html>